/* Start Mobile (default) */

:root {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	--nav-height: 5rem;
}

html {
	box-sizing: border-box;
	color: white;
	background-color: rgb(44, 49, 61);
	margin: 0;
	padding: 0;
	border: none;
}

body {
	margin: 0;
}

/* Navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--nav-height);
	width: 100vw;
	background-color: #007ea7;
}

.navbar {
	list-style-type: none;
	padding: 0;
	float: right;
}

.navbar a {
	all: unset;
}

nav a:visited {
	color: inherit;
}


/* Content */
.content {
	margin-top: calc(var(--nav-height));
	width: 100vw;
	padding: .5rem 1rem;
}

p {
	font-size: 1rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

/* End Mobile */



/* Start Tablets */

@media (min-width: 700px) {
	:root {
		font-size: 14px;
	}
}

/* End Tablets */



/* Start (>=720p) Desktops */

@media (min-width: 1100px) {
	:root {
		font-size: 10px;
	}
}

/* Start 720p Desktops */



/* Start (>=1080p) Desktops */

@media (min-width: 1700px) {
	:root {
		font-size: 16px;
	}
}

/* Start 1080p Desktops */



/* Start (>=1440p) Desktops */

@media (min-width: 2400px) {
	:root {
		font-size: 21px;
	}
}

/* Start 1440p Desktops */



/* 4k and up is mostly redundant due to OS scaling, but this should catch any monitors that aren't scaled */
/* Start (>=4k) Desktops */

@media (min-width: 3600px) {
	:root {
		font-size: 32px;
	}
}

/* End 4k Desktops */



/* Start (>=8k) Desktops */

@media (min-width: 7200px) {
	:root {
		font-size: 64px;
	}
}

/* End 8k Desktops */