/* Start Mobile (default) */

:root {
	font-size: 12px;
	--nav-height: 5rem;
	--nav-top-margin: 3rem;
	--background-color: #2c313d;
	--primary-color: #007ea7;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	color: white;
	margin: 0;
	padding: 0;
	border: none;
}

html {
	background-color: var(--background-color);
}

h1.title {
	position: fixed;
	top: 0;
	padding: 0 1rem;
	padding-right: 2rem;
	padding-left: 1.5rem;
	border-radius: 0 4rem 10rem 0; 
	line-height: calc(var(--nav-top-margin) + .125 * var(--nav-top-margin));

	background-color: var(--primary-color);
	/* background: linear-gradient(135deg, var(--primary-color), var(--background-color)); */
	/* background: radial-gradient(circle,rgba(0, 126, 167, .66) 0%, rgba(0, 126, 167, .66) 33%, rgba(0, 126, 167, 0.66) 60%, rgba(0, 126, 167, 0.5) 95%); */
	background-position: -100% -300%;
	background-size: 200% 400%;
}

/* Navbar */
nav {
	position: fixed;
	top: var(--nav-top-margin);
	left: 0;

	height: var(--nav-height);
	width: 100vw;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

p {
	margin-bottom: .5rem;
}

#navContainer {
	width: 5rem;
	height: 75%;
	
	border-radius: 5rem 0 0 10rem;
	padding: 0 .33rem 0 1.33rem;
	
	-webkit-box-shadow: 0 .3rem .2rem 0 #0000004f;
	box-shadow: 0 .3rem .2rem 0 #0000004f;
	
	overflow: hidden;

	transition: width .75s ease, border-radius 1s ease;
}

#navContainer.open {
	width: 100vw;
	border-radius: 0;
	animation: none;
	background-size: initial;
	background: linear-gradient(-45deg, var(--primary-color));
	
}

/* SVG */

#navButton {
	height: 100%;
	float: right;
}

#bar1, #bar2 {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

#navContainer.open #bar1 {
  transform: rotate(45deg) translate(0, 70px);
}

#navContainer.open #bar2 {
  transform: rotate(-45deg) translate(0, -70px);
}

/* END SVG */

.vibratingColor {
	background: linear-gradient(-45deg, var(--primary-color), #e30f0f, #d37d06, #07c760);
	background-size: 200rem 200rem;
	animation: gradient 10s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	12.5% {
		background-position: 50% 100%;
	}
	25% {
		background-position: 0% 100%;
	}
	37.5% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 0% 0%;
	}
	62.5% {
		background-position: 50% 0%;
	}
	75% {
		background-position: 100% 0%;
	}
	87.5% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 100% 100%;
	}
}

.navbar {
	list-style-type: none;

	display: inline-flex;
	width: calc(100% - var(--nav-height));
	height: 100%;
	overflow: hidden;

	flex-direction: row;
	align-items: center;
}

#navContainer.open a {
	opacity: 1;
}

.navbar a {
	all: unset;

	margin-right: 1rem;
	font-size: 1.3rem;
	
	opacity: 0;
	transition: opacity 1s ease;
}

.lastItem {
	margin-right: 0 !important;
}

nav a:visited {
	color: inherit;
}


/* Content */
.content {
	width: 100vw;
	padding: .5rem 1rem;
	padding-top: calc(var(--nav-top-margin) + .25 * var(--nav-top-margin));
}

p {
	font-size: 1rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

/* End Mobile */



/* Start Tablets */

@media (min-width: 700px) {
	:root {
		font-size: 14px;
	}
}

/* End Tablets */



/* Start (>=720p) Desktops */

@media (min-width: 1100px) {
	:root {
		font-size: 10px;
	}
}

/* Start 720p Desktops */



/* Start (>=1080p) Desktops */

@media (min-width: 1700px) {
	:root {
		font-size: 16px;
	}
}

/* Start 1080p Desktops */



/* Start (>=1440p) Desktops */

@media (min-width: 2400px) {
	:root {
		font-size: 21px;
	}
}

/* Start 1440p Desktops */



/* 4k and up is mostly redundant due to OS scaling, but this should catch any monitors that aren't scaled */
/* Start (>=4k) Desktops */

@media (min-width: 3600px) {
	:root {
		font-size: 32px;
	}
}

/* End 4k Desktops */



/* Start (>=8k) Desktops */

@media (min-width: 7200px) {
	:root {
		font-size: 64px;
	}
}

/* End 8k Desktops */